In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [3]:
for i in range(1,11,1):
    print(f' {3} * {i} = {3*i}')

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

In [1]:
for i in range(6,0,-1):
    print(i)

6
5
4
3
2
1

In [3]:
number=[3,5,6,7]
for i in number:
    temp=i
    for j in range(1,11):
        print(f'{temp}* {j} ={j*temp}')
    print("end of first table")

3* 1 =3
3* 2 =6
3* 3 =9
3* 4 =12
3* 5 =15
3* 6 =18
3* 7 =21
3* 8 =24
3* 9 =27
3* 10 =30
end of first table
5* 1 =5
5* 2 =10
5* 3 =15
5* 4 =20
5* 5 =25
5* 6 =30
5* 7 =35
5* 8 =40
5* 9 =45
5* 10 =50
end of first table
6* 1 =6
6* 2 =12
6* 3 =18
6* 4 =24
6* 5 =30
6* 6 =36
6* 7 =42
6* 8 =48
6* 9 =54
6* 10 =60
end of first table
7* 1 =7
7* 2 =14
7* 3 =21
7* 4 =28
7* 5 =35
7* 6 =42
7* 7 =49
7* 8 =56
7* 9 =63
7* 10 =70
end of first table

In [18]:
n=int(input("enter number"))
table_list=[]
for i in range(1,n):
    j=int(input("enter number"))
    table_list.append(j)
print(table_list)

[5, 8, 7]

In [19]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]